@page "/about"

<PageTitle>About</PageTitle>

<h1>Built for fun</h1>
<p>This site/app was created out of my own desire to time multiple kids I coach both when they are racing as well as at practice when doing intervals. 
    If you run into an issue, want to contribute an idea or code you can find the source on <a href="https://github.com/runxc1/TrackBlazor">Github</a>
</p>